@tailwind base;
@tailwind components;
@tailwind utilities;


.react-datepicker__input-container input {
    display: block;
    width: 100%;
    padding: 0.35rem 0 0.35rem 0.7rem;
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 0.25rem;
}

.child-div-mt-1>div {
    margin-top: 0.25rem;
}

#react-select-3-input {
    font-size: 0.875rem;
}

.pagination {
    display: flex;
}

.pagination a {
    float: left;
    padding: 4px 11px;
    text-decoration: none;
}

.pagination .active {
    background-color: #57adfd;
    color: white;
    border-radius: 5px;
}

.pagination .active:hover {
    cursor: auto;
}

.stop-stretching {
    width: 1px;
    white-space: nowrap;
}